<form #modelF="ngForm">
<h2>{{title}} </h2> <br> 

    <label>Id Fournisseur </label>
    <input type="number" class="form-control" name="idFournisseur"  [(ngModel)]="fournisseur.idFournisseur" #idFacture="ngModel" disabled>
    
    <label>Code Fournisseur</label>
    <input type="text" class="form-control" [(ngModel)]="fournisseur.codeFournisseur" required [(ngModel)]="fournisseur.codeFournisseur" #montantFacture="ngModel" name="codeFournisseur"  >
    
    <label>Libelle Fournisseur</label>
    <input type="text" class="form-control" name="libelleFournisseur" required [(ngModel)]="fournisseur.libelleFournisseur" [(ngModel)]="fournisseur.libelleFournisseur" #montantRemise="ngModel">
    
    
<!--     
    <label>active</label>
    <select  class="form-select" aria-label="Default select example" name="active" [(ngModel)]="fournisseur.active" #active="ngModel">
        <option value="">--Please choose an option--</option>
        <option value=true>true</option>
        <option value=false>false</option>
     </select> -->
    
    <input type="submit" class="btn btn-primary" value="Update" [disabled]="modelF.invalid" (click)="UpdateFournisseur(modelF.value)"> 
</form>
