<br>
&nbsp;
<button class="btn btn-outline-primary" (click)="showForm()">{{buttonValue}}</button>

<div *ngIf="showFormTemplate">
  <h1>Form Product</h1>
  <app-add-facture (addEvent)="save($event)" [facture]="inputFacture"></app-add-facture>
</div>
  <div class="row" *ngIf="!showFormTemplate">
    <app-facture *ngFor="let facture of factures"
                 [facture]="currentFacture"
                 (deleteNotifEvent)="delete($event)"
                 (updateNotifEvent)="update($event)"
                 class="col-md-3">
    </app-facture>
</div>


